gallery-block.module.css .image-gallery {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Базовые стили для обычного режима */
.image_gallery_image img {
    /* width: 300px; */
    width: 100%;
    max-height: 500px;
    /* height: 200px; */
    object-fit: contain;
    transition: all 0.3s ease;

}

/* Стили для полноэкранного режима */
:global(.fullscreen) .image_gallery_image img {
    /* width: 100%; */
    /* height: auto; */
    /* max-height: 80vh; */
    object-fit: contain;
}

/* Дополнительные стили для кастомизации */
.custom-gallery :global(.image-gallery-slide) {
    text-align: center;
}

.custom-gallery :global(.image-gallery-thumbnails-container) {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .image_gallery_image img {
        max-height: 300px;
    }
}