.page__title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
}

.path__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
}

.path__container i {
    font-size: 15px;
}

.page__container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin: 0 auto;
    width: 80%;
    max-width: 1500px;
    align-items: flex-start;
    padding-bottom: 10px;
    /* min-height: 100vh; */
    /* min-height: 80vh; */
}

/* Левая панель */
.sidebar {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: start;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.sidebar__title {
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
}

.sidebar__item {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar__item:last-child {
    border-bottom: none;
}

.sidebar__item:hover {
    color: #007bff;
}

.active {
    color: #007bff;
    font-weight: bold;
}

/* Карточки матрасов */
.mattresses__container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    justify-content: center;
}

/* Модальное окно */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal__image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.selectedThumbnail {
    border: 2px solid #007bff;
}

.empty_mattrasses {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

/* Адаптивные стили */
@media (max-width: 1200px) {
    .page__container {
        width: 95%;
    }

    .mattresses__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .sidebar {
        width: 250px;
    }

    .mattresses__container {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .page__container {
        flex-direction: column;
        position: relative;
    }

    .sidebar {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 100;
        width: 80%;
        max-width: 300px;
        transform: translateX(-120%);
        transition: transform 0.3s ease;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        /* height: 100vh; */
        overflow-y: auto;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .mattresses__container {
        grid-template-columns: 1fr;
        padding: 10px;
        width: 100%;
        max-width: 100%;
    }

    .mobileMenuButton {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #4e5df9;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        margin: 15px 0;
        cursor: pointer;
        font-size: 16px;
    }

    .mattresses__container {
        margin: 0 auto;
        min-width: 350px;
    }
}

@media (max-width: 480px) {
    .page__title {
        font-size: 20px;
        margin-top: 40px;
    }

    .path__container i {
        font-size: 12px;
    }

    .empty_mattrasses {
        font-size: 16px;
    }

    .mattresses__container {
        min-width: unset;
    }


}

.mobileMenuButton {
    display: none;
}

@media (max-width: 1020px) {
    .mattresses__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
        width: calc(100% - 320px);
    }

}

@media (max-width: 768px) {
    .mobileMenuButton {
        display: flex;
    }

}