.container {
  margin: 0;
  padding: 20px;
}
.product__main_spec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.productContent {
  display: flex;
  gap: 20px;
}
.imageGallery {
  flex: 1;
}
.mainImage {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.thumbnail {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  object-fit: cover;
}

.activeThumbnail {
  border-color: #4e5df9;
}
.details {
  flex: 1;
}
.price {
  font-size: 30px;
  font-weight: 600;
  color: #4e5df9;
  margin-bottom: 10px;
}
.colorSelector {
  margin-bottom: 10px;
}
.colors {
  display: flex;
  gap: 10px;
}
.colorOption {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
}
.colorOption:hover {
  background: #f0f0f0;
}
.activeColor:hover {
  background: #4e5df9;
}
.activeColor {
  background: #4e5df9;
  color: #fff;
}
.addToCartButton {
  padding: 10px 20px;
  background: #4e5df9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.addToCartButton:hover {
  background: #5e6bf8;
}
.specifications p {
  color: grey;
}
.specifications {
  width: 50%;
  list-style: none;
}
.specifications__container {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}
.specifications__values {
  list-style: none;
  width: 50%;
}
.specifications__values li,
.specifications li {
  margin-bottom: 5px;
}
.tabContent__container {
  margin-top: 25px;
}
.deliveryContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.textContainer {
  color: #555;
}

.textContainer p {
  margin: 10px 0;
}

.textContainer strong {
  color: #000;
}

.deliveryList {
  margin: 15px 0;
  padding-left: 20px;
  list-style: disc;
}

.deliveryList li {
  margin: 5px 0;
  color: #444;
}
.descriptionContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #222;
  margin-bottom: 15px;
  text-align: center;
}

.text {
  font-size: 16px;
  color: #444;
  white-space: pre-wrap;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  cursor: pointer;
}
